
<div class="candidate-card-container">
      <div class="candidate-card">
        <div class="candidate">
          <div class="candidate-photo">
            <div class="progress" [style.--progress]="porcentajeProgreso + '%'">
              <img src="" alt="imagen">
            </div>
          </div>
  
          <div class="candidate-name">
            <h2>Paola Perez</h2>
          </div>
  
          <div class="candidate-info">
            <h4>Directora administrativa</h4>
            <p>paola.perez</p>
            <p>123-456-45678</p>
          </div>
  
          <div class="candidate-hoja-de-vida-button">
            <button pButton type="button">
              <p>Hoja de Vida</p>
              <i class="fas fa-file-download"></i>
            </button>
          </div>
  
          <div class="candidate-description">
            <p>Ingeniero de Soporte con más de 2 años
              de experiencia en resolución de problemas
              técnicos y asistencia a usuarios. Especializado
              en automatización. Enfocado en la satisfacción
              del cliente y la eficiencia operativa.
            </p>
          </div>
        </div>
  
        <div class="courses-container">
          <span class="course-chip">SCRUM</span>
          <span class="course-chip">Resolución de problemas</span>
          <span class="course-chip">Trabajo en equipo</span>
          <span class="course-chip">Excel</span>
          
        </div>
  
      </div>
    </div>