
<div class="new-password-container">

    <div class="password-text-container">
        <h4>Cambio de contraseña</h4>
        <p>Para proteger la seguridad de su cuenta, 
            por favor ingrese su contraseña actual y 
            una nueva contraseña que tenga al menos ocho 
            (8) caracteres, incluyendo una letra mayúscula, 
            una letra minúscula y un número.
        </p>
    </div>

    <div class="current-password-container">
        <label for="">Actual contraseña</label>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </div>

    <div class="password-text-container">
        <p>
            Su nueva contraseña debe ser diferente 
            a la contraseña utilizada anteriormente
        </p>
    </div>

    <div class="new1-password-container">
        <label for="">Nueva contraseña</label>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </div>

    <div class="confirm-new-password-container">
        <label for="">Confirme la nueva contraseña</label>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </div>

    <div class="password-buttons-container">
        <button>Cancelar</button>
        <button>Cambiar contraseña</button>
    </div>
</div>
