
*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(142, 128, 128);
    width: 100%;
    height: 100%;
}
.new-password-container{
    background-color: rgb(218, 255, 207);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.password-text-container{
    text-align: center;
    padding: 0 28px;
}

.current-password-container{
    display: flex;
    flex-direction: column;
}
.new1-password-container{
    display: flex;
    flex-direction: column;
}
.confirm-new-password-container{
    display: flex;
    flex-direction: column;
}