<div class="resume-profile">

  <div class="resume-progress">
    <div class="example">
      <p>Pregreso</p>
    </div>
    
  </div>

  <div class="resume-container">

    <app-resume-profile></app-resume-profile>
  
    <div class="information-container">
      <div class="information">
        <div class="information-section">
          <div class="information-content">
            <div class="icon-circle">
              <i class="fas fa-user"></i>
            </div>
            <h3>Información Personal</h3>
          </div>
          <button pButton class="completed">Completado <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="information-section">
          <div class="information-content">
            <div class="icon-circle">
              <i class="fas fa-id-card"></i>
            </div>
            <h3>Datos personales</h3>
          </div>
          <button pButton class="In_progress">En Proceso <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="information-section">
          <div class="information-content">
            <div class="icon-circle">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <h3>Formación académica</h3>
          </div>
          <button pButton class="completed">Completado <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="information-section">
          <div class="information-content">
            <div class="icon-circle">
              <i class="fas fa-briefcase"></i>
            </div>
            <h3>Experiencia laboral</h3>
          </div>
          <button pButton class="In_progress">En Proceso <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

  </div>


</div>